<form method="post" action = "/out">
    <input type="submit" value="Logout">
    <a class="navlink"href="/view">Images</a>
    <% if(sessionstatus==true){%>
        <a class="navlink2"href="/client">Upload </a>
    <%}%>
</form>