<% include partials/header %>
<% include partials/navbar %>
<p class="header" >Upload Images</p>
<div class="login-form">
    <div class="wrapper">
        <p>View your Images!</p>
            <a class="filefolder" href="/uploads">/uploads</a>
            <a class="filefolder" href="/good">/good</a>
            <a class="filefolder"href="/better">/better</a>
            <a class="filefolder"href="/best">/best</a>
    </div>
<div>
<%include partials/footer %>